<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }} - Radar's Butt's Web</title>
		{{> styles page='index' }}
	</head>
	<body>
		{{> top_menu page='index' }}
		{{> twitch_embed }}
	</body>
</html>