<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }} - Radar's Butt's Web</title>
	{{> styles }}
</head>

<body>
	<audio id='playsound' autoplay />
	<script>
		const port = {{ websocketPort }}
		const ws = new WebSocket(`ws://${location.hostname}:${port}`);

		// event emmited when connected
		ws.onopen = function () {
			const data = {
				message: 'GimmeNextYouFuck',
				userstate: {},
			}
			ws.send(JSON.stringify(data))
		}

		// event emmited when receiving message 
		ws.onmessage = function (ev) {
			const audioTag = document.querySelector('#playsound');
			audioTag.setAttribute('src', `/soundboard/${ev.data}.wav`);
			audioTag.onended = (event) => {
				location.reload();
			}
		}
	</script>
</body>

</html>