<div>
    <input type="text" readonly="readonly" id="input-{{ sound }}" value="!playsound {{ sound }}" />
    <button type="button" name="copyToken" title="Copy command to clipboard" id="{{ sound }}" class='sound-copy_button'>
        Copy
    </button>
</div>