# Fill in the values to fit Your purposes and then delete the .example extension

# Environment
NODE_ENV=development

# Server
PORT=3000
HOST=localhost
WEBSOCKET_PORT=3030
PRODUCTION_HOSTNAME=

# Twitch chat-bot settings
TWITCH_BOT_USERNAME=
TWITCH_BOT_OAUTH=
# replace the 'KEY' part with your marker, if neccessary
# can duplicate with distinct markers, if neccessary
TWITCH_CHANNEL_NAME_KEY=
TWITCH_CHANNEL_NAME_KEY2=

# Discord invite link
DISCORD_INVITE_LINK=

# Numeric part of streamer's Steam32 account id
# https://steamid.io works great for finding that number
STEAM_ID_32=

# Token for at least some soundboard access control OMEGALUL
SOUNDBOARD_TOKEN=
# Default sound cooldown in miliseconds
SOUNDBOARD_DEFAULT_COOLDOWN=5000