# Fill in the values to fit Your purposes and then delete the .example extension

# Environment
NODE_ENV=development

# Server
PORT=3000
HOST=localhost

# Twitch chat-bot settings
TWITCH_BOT_USERNAME=
TWITCH_BOT_OAUTH=
TWITCH_CHANNEL_NAME=

# Discord invite link
DISCORD_INVITE_LINK=

# Numeric part of streamer's Steam32 account id
# https://steamid.io works great for finding that number
STEAM_ID_32=